@import url("app.css");
@import url("fonts.css");
@import url("colors.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --top-position: 0%;
    --bottom-position: 0%;
    --video-width: 60vw;
    --video-height: 30rem;
}


html,
body {
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0px;
}

input{
    outline: none !important;
}

button {
    font-family: "Poppins-SemiBold";
    outline: none;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

p {
    margin: 0rem;
}
