:root {
	--black: #1C1C1C;
	--white: #FDFDFD;
    --purple: #907AD6;
    --purplehover: #7665af;
    --lightgray: #BCC1BA;
    --darkgray: #495057;
    --lightblue: #A6D9F7;
    --yellow: #F9C80E;
    --red: #FB3640;
    --btngrad: linear-gradient(180deg, #907AD6 0%, rgba(144, 122, 214, 0.7) 100%);
}
