@font-face {
    font-family: "Poppins-Bold";
    src: url("../assets/font/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../assets/font/Poppins-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Poppins-Med";
    src: url("../assets/font/Poppins-Medium.ttf");
    font-weight: 500;
}
