@import url(base.css);

* {
    padding: 0;
    margin: 0;
}

body {
    margin-left: 20px;
    background-color: black;
    font-family: "Poppins-Bold";
    scroll-behavior: smooth;
}

/* ========================================= */

.logo {
    width: 56.58px;
    height: 50px;
    background-image: url(../assets/img/Logo.png);
    background-size: cover;
}

.dashboard {
    width: 40px;
    height: 40px;
    background-image: url(../assets/img/dashboard.svg);
    background-size: cover;
}

.purple-text{
    background: linear-gradient(
            to bottom, #907AD6,#6F4ED6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.profile{
    width: 25px;
    height: 25px;
    background-image: url(../assets/img/group.svg);
    background-size: cover;
}

/* ========================================= */

.container-header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: black;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.container-header .header-left{
    margin-left: 17px;
    gap: 20px;
    font-size: 48px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.container-header .header-right{
    gap: 20px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}

.dashboard .sub{
    width: 100px;
    display: none;
    left: 0;
    margin-top: 50px;
}

.dashboard .sub .sub-navlink {
    background: black;

    display: flex;
    align-items: center;
}

.dashboard .sub .sub-navlink a {
    text-decoration: none;
    color: white;

    padding: 10px 10px 10px 10px;
}

.dashboard .sub .sub-navlink:hover {
    background: #907AD6;
    transition: .8s;
}

/* ========================================= */

.container-content {
    width: 100%;

    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-content .left-content{
    padding: 10px;
    position: fixed;
    background-color: #495057;
    width: 270px;
    height: 630px;
    border-radius: 25px;
    gap: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
} 

.container-content .left-content h1{
    font-size: 25px;
}

.container-content .left-content .channels{
    gap: 20px;
    width: 230px;
    align-items: left;
    display: flex;
    flex-direction: column;
}

.container-content .left-content .channels .channel{
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-content .right-content{
    margin-left: 300px;
    padding: 10px;
    width: 74%;
    height: 1000px;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: left;
} 