@import url("base.css");
body {
    position: relative;
    background-color: var(--black);
    font-family: "Poppins-Med";
    color: var(--white);
}

.elp1 {
    width: 30rem;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}

.elp2 {
    width: 30rem;
    position: absolute;
    bottom: 0%;
    right: 0%;
    z-index: 0;
}

.signup {
    width: 100%;
    min-height: 100vh;
    z-index: 5;
}

.signup .contain {
    width: 100%;
    padding: 3rem 6rem;
}

.signup .content {
    background-color: var(--darkgray);
    border-radius: 10px;
    width: 30rem;
    min-height: fit-content;
    padding: 2rem 2rem;
}

.signup .logo {
    width: 12rem;
    margin-bottom: 1rem;
}

.signup .content a {
    color: var(--purple);
    text-decoration: underline;
    margin-left: 0.4rem;
    transition: 0.1s;
}

.signup .content a:hover {
    color: var(--purplehover);
    transition: 0.1s;
}

.signup .content span {
    color: var(--lightgray);
}

.signup .content h1 {
    font-family: "Poppins-Bold";
    font-size: 2.5rem;
    background: linear-gradient(180deg, #907AD6 0%, #A6D9F7 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.signup .input-cont {
    color: var(--white);
}

.signup .input-cont label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.signup .input-cont input {
    color: var(--white);
    background-color: var(--darkgray);
    border: 2px solid var(--white);
    border-radius: 8px;
    padding: 0.2rem 0rem;
    padding-left: 0.5rem;
}

.signup .input-cont label:not(:first-child) {
    margin-top: 0.6rem;
}

.signup .content .btnSubmit {
    width: 100%;
    background: var(--btngrad);
    color: var(--white);
    border-radius: 8px;
    padding: 0.4rem 0rem;
    margin-top: 1.5rem;
    opacity: 1;
    transition: 0.2s;
}

.signup .content .btnSubmit:hover {
    color: var(--lightgray);
    opacity: 0.7;
    transition: 0.2s;
}


