@import url(base.css);

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 20px;
    background-color: black;
    font-family: "Poppins-Bold";
    scroll-behavior: smooth;
}

/* ========================================= */

.logo {
    width: 56.58px;
    height: 50px;
    background-image: url(../assets/img/Logo.png);
    background-size: cover;
}

.dashboard {
    width: 40px;
    height: 40px;
    background-image: url(../assets/img/dashboard.svg);
    background-size: cover;
}

.purple-text{
    background: linear-gradient(
            to bottom, #907AD6,#6F4ED6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.profile{
    width: 25px;
    height: 25px;
    background-image: url(../assets/img/group.svg);
    background-size: cover;
}

/* ========================================= */

.container-header {
    position: fixed;
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.container-header .header-left{
    margin-left: 17px;
    gap: 20px;
    font-size: 48px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.container-header .header-right{
    gap: 20px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
}

.dashboard .sub{
    width: 100px;
    display: none;
    left: 0;
    margin-top: 50px;
}

.dashboard .sub .sub-navlink {
    background: black;

    display: flex;
    align-items: center;
}

.dashboard .sub .sub-navlink a {
    text-decoration: none;
    color: white;

    padding: 10px 10px 10px 10px;
}

.dashboard .sub .sub-navlink:hover {
    background: #907AD6;
    transition: .8s;
}

/* ========================================= */

.container-content {
    width: 100%;
    height: 600px;

    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-content .container-upload{
    padding: 20px;   
    width: 400px;
    height: 450px;
    background-color: #495057;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.container-content .container-upload h1{
    text-align: center;
}

.container-content .container-upload .text .input-t,.input-d,.input-f{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.container-content .container-upload .text{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

#text-title{
    padding: 1px 1px 1px 7px;
    width: 100%;
    border-radius: 10px;
    border-color: white;
    background-color: #495057;
}

#text-description{
    padding: 5px 1px 1px 7px;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    border-color: white;
    background-color: #495057;
}

.input-f{
    margin-bottom: 30px;
}