@import url("base.css");
@import url("base.css");
body {
    position: relative;
    background-color: var(--black);
    font-family: "Poppins-Med";
    color: var(--white);
}

.udb {
    width: 100%;
    z-index: 5;
}

.udb .contain {
    width: 100%;
    min-height: 100vh;
    padding: 3rem 6rem;
}

.udb .content {
    width: 100%;
    margin-top: 2rem;
}

.udb .logo {
    width: 12rem;
    margin-bottom: 1rem;
}

.udb .header span h1 {
    font-family: "Poppins-Bold";
    font-size: 1.5rem;
    color: var(--purple);
}

.udb .header span .bg-grey {
    background-color: var(--darkgray);
    padding: 1.5rem;
    border-radius: 10px;
}

.udb .contain .header button {
    color: var(--white);
    border-radius: 5px;
    background: var(--btngrad);
    padding: 0.2rem 0.8rem;
    opacity: 1;
    transition: 0.3s;
}

.udb .contain .header button:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.udb table td {
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--lightgray);
}

.udb table .video {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.udb table .video p {
    color: var(--lightgray);
}

.udb table img {
    width: 11rem;
    padding-right: 1rem;
}

.udb table th {
    border-bottom: 2px solid var(--lightgray);
    text-align: left;
    padding-right: 3rem;
    padding-bottom: 0.4rem;
}
.udb table .del {
    color: var(--white);
    background-color: var(--red);
    border-radius: 5px;
    padding: 0.2rem 1.5rem;
}
